body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
	color: #351435;
	font-family: sans-serif;
	font-size: 40px;
	border: 3px solid #351435;
	padding: 40px 80px;
	position: relative;

}

a:hover{
	color: #fff;
	background-color: #351435;
	transition-property: background-color;
	transition-duration: 2ms;
	transition-timing-function: linear;
	transition-delay: 0ms;
}